.Section3-Container{
    max-width: 1140px;
    margin: 0 auto;
}
.Section3-Container img {
    width: 100%;
    height: 100%;
}
.text-container{
    position: relative;
}
.texts{
    position: absolute;
    bottom: 180px;
}
.texts h2 {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.Section3-Container3{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding-top: 25px;
    padding-left: 100px;
    background-color: #FFFFFF;
}

.Section3-row1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}
.Section3-row2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}
.Section3-row3 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
} 
.Section4-Container{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    margin-top: 25px;
}

.Section4-row1 img {
    width: 110px;
    height: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.Section4-row1{
    text-align: center;
}
.Section4-row1 p {
    font-size: 18px;
    color: #222222;
    font-weight: 100;
    padding: 0px 15px;
}
.Section4-row2 {
    text-align: center;
}
.Section4-row2 img {
    width: 110px;
    height: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.Section4-row3 {
    text-align: center;
}
.Section4-row2 p{
    font-size: 18px;
    color: #222222;
    font-weight: 100;
    padding: 0px 15px;
}
.Section4-row4{
    text-align: center;
}
.Section4-row3 img{
    width: 110px;
    height: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.Section4-row5{
    text-align: center;
}
.Section4-row3 p {
    font-size: 18px;
    color: #222222;
    font-weight: 100;
    padding: 0px 15px;
}
.Section4-row6{
    text-align: center;
}
.Section4-row4 img{
    width: 110px;
    height: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.Section4-row4 p {
    font-size: 18px;
    color: #222222;
    font-weight: 100;
    padding: 0px 15px;
}
.Section4-row5 img{
    width: 110px;
    height: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.Section4-row5 p {
    font-size: 18px;
    color: #222222;
    font-weight: 100;
    padding: 0px 15px;
}
.Section4-row6 img{
    width: 110px;
    height: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.Section4-row6 p {
    font-size: 18px;
    color: #222222;
    font-weight: 100;
    padding: 0px 15px;
}