.pos-fixed {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc-form {
    background-color: white;
    width: 50vw;
}
.calc-form ul {
    list-style: none;
    padding: 20px;
}
.calc-form ul li input,
.calc-form ul li label {
    display: block;
    width: 100%;
}
.calc-form ul li {
    margin-bottom: 15px;
}
.calc-form ul li label {
    margin-bottom: 10px;
}
.close-icon-container {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}